body {
	padding:0px;
	margin-top:120px;
	background-color: #80FB4A;
}

nav ul li a:hover {
	color: red;
}

.conteiner{
	width: 85%;
	max-width: 1400px;
	margin: 0 auto;
}

.header{
	background: #43A810;
	color: white;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 17.5vh;
	z-index: 9999;
}

.header  a {
	color: white;
	text-decoration: none;
}

.logo-nav-conteiner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


.menu-icon {
	display: none;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation > ul > li {
	display: inline-block;
	position: relative;
}

.navigation > ul > li > a {
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #ccc;
}



/*submenu*/

.submenu {
	position: absolute;
	background: #43A810;
	width: 100%;
	display: none;
	transition: 1.5s;
}

.submenu > li >a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu > li:hover > .submenu{
	display: block;
}

.main {
	padding-top: 60px;

}



@media only screen and (max-width: 767px){

.menu-icon{
	display: block;
	cursor: pointer;
	padding: 0.5rem 1rem;
}	
.navigation {
	width: 100%;
	margin-top: 1rem;
}

.navigation ul {
	display: none;
}

.navigation ul.show {
	display: block;
}

.navigation ul li {
	display: block;
}
.navigation ul li a {
	display: block;
	padding: 0.5rem 0;
	transition: all 0.4s linear;
	border-radius: 5px;
}	
}

.encabezado1 {
	text-align: center;
	border: solid 2px #ffffff;
	border-radius: 20px;
	margin: 15px;
	padding: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-family: Times New Roman;
	font-size: 30px;
	color: #030A46;

}


.encabezado2 {
	text-align: center;
	border: solid 2px #6001FC;
	border-radius: 20px;
	margin: 15px;
	padding: 15px;
	text-align: center;
	letter-spacing: 2px;
	font-family: Arial;
	font-size: 40px;
	color: #030A46;

}


.encabezado3 {
	margin: 50px; padding: 49px;
	border: solid 1.4px;
	border-color: #000000;
	border-radius: 20px;
	background-color:#2D56D7;
	
	
}

.encabezado4 {
	margin: 50px; padding: 49px;
	border: solid 1.4px;
	border-color: #000000;
	border-radius: 20px;
	background-color: none;
}

.boton2:hover {
      background-color: #008CBA;
      color: white;
 }

.boton1:hover {
      background-color: #008CBA;
      color: white;
 }

.boton1  {
	color: #0099CC;
	background:transparent;
	border: 2px solid #0099CC;
	border-radius: 6px;
	border: none;
      color: black;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}
.boton2{
	color: #0099CC;
	background:transparent;
	border: 2px solid #0099CC;
	border-radius: 6px;
	border: none;
      color: black;
      padding: 16px 32px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
}


.botones {
	border-radius: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Arial;
	letter-spacing: 1.5px;
	margin-right: 10px;
}

@media only screen and (max-width: 767px){

.submenu{
	display: block;
	cursor: pointer;
	padding: 0.5rem 1rem;
	width: 100%;
	margin-top: 1rem;
}	


.submenu li {
	display: none;
	display: block;
	padding: 0.5rem 0;
	transition: all 0.4s linear;
	border-radius: 5px;
	background: #ccc;
}


}